{% extends 'base.html' %}

{% load static %}

{% block content %}

<a href="{%  url 'portfolio:portfolio_filter' %}" class="btn btn-primary">< Back</a>

<div>
    <h2>{{ portfolioitem.title }}</h2>
    {% if portfolioitem.roles.all %}
    <p><span class="detail-text-category">Roles: </span>{{ portfolioitem.roles.all|join:", " }}</p>
    {% endif %}
    {% if portfolioitem.employer %}
    <p><span class="detail-text-category">Employer: </span>{{ portfolioitem.employer }}</p>
    {% endif %}
    <p><span class="detail-text-category">From: </span>{{ portfolioitem.started_date|date:"Y" }}<span class="detail-text-category"> {% if portfolioitem.ended_date %} to </span>{{ portfolioitem.ended_date|date:"Y" }} {% endif %}</p>
</div>

<hr>

<div class="row">

    <div class="col-xs-12 col-md-6 col-md-push-6" >

        <div class="detail-container">

            <h3>Description :</h3>
            <p class="detail-text-description">{{ portfolioitem.description }}</p>
            {% if portfolioitem.link %}
                <p><a href="{{ portfolioitem.link }}">{{ portfolioitem.link }}</a></p>
            {% endif %}
            <div class="row">
                <div class="detail-column">
                   <h4><img src="{% static 'images/achivement.png' %}" class="detail-icon">Achievements :</h4>
                    <ul>
                    {% for accomplishment in portfolioitem.accomplishment_set.all %}
                        <li>{{ accomplishment.description }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="detail-column">
                    <h4><img src="{% static 'images/programming.png' %}" class="detail-icon">Technical environment :</h4>
                    <ul>
                    {% for software in portfolioitem.software_tools.all %}
                        <li>{{ software.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-md-pull-6">

        <div class="slider-align">
            <div class="detail-slider">
                {% for image in portfolioitem.images_set.all %}
                <div><img src="{{ image.image.url }}" class="img-portfolio-slider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.detail-slider').slick({
            slidesToShow: 1,
            autoplay: true,
            speed: 2000,
            centerPadding: '60px',
            autoplaySpeed: 2500,
            variableWidth: true,
            centerMode: true
        });
    });
</script>
{% endblock %}