{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Portfolio Filters</h4>
      <div class="row">

        <div class="form-group col-sm-4 col-md-3">
          <div>
			{{ portfolio_filter.form.industry_area.label_tag }}
			{% render_field portfolio_filter.form.industry_area class="form-control" %}
          </div>
          <div>
            {{ portfolio_filter.form.employer.label_tag }}
			{% render_field portfolio_filter.form.employer class="form-control" %}
            </div>
        </div>
		<div class="form-group col-sm-4 col-md-3">
			{{ portfolio_filter.form.software_tools.label_tag }}
			{% render_field portfolio_filter.form.software_tools class="form-control" %}
        </div>
		<div class="form-group col-sm-4 col-md-3">
			{{ portfolio_filter.form.main_categories.label_tag }}
			{% render_field portfolio_filter.form.main_categories class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
      {% if has_filter %}
            <a href="{%  url 'portfolio:portfolio_filter' %}" class="btn btn-primary">Clear all filters</a>
      {% endif %}
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>From</th>
        <th>To</th>
        <th>Industry area</th>
        <th>Position</th>
        <th>Employer</th>
      </tr>
    </thead>
    <tbody>


	{% for portfolio_item in portfolio_filter.qs %}
        <tr>
          <td>
            {% if portfolio_item.picture %}
            <a href="{% url 'portfolio:detail' portfolio_item.id %}"><img src="{{ portfolio_item.picture.url }}" class="img-filter-thumbnail"></a>
            {% endif %}
          </td>
          <td><p><a href="{% url 'portfolio:detail' portfolio_item.id %}">{{ portfolio_item.title }}</a></p></td>
          <td>{{ portfolio_item.started_date|date:"Y" }}</td>
          <td>{{ portfolio_item.ended_date|date:"Y" }}</td>
          <td>{{ portfolio_item.industry_area }}</td>
          <td>{{ portfolio_item.roles.all|join:", " }}</td>
          <td>{{ portfolio_item.employer }}</td>

        </tr>
      {% empty %}
        <tr>
          <td colspan="7">No data</td>
        </tr>
	{% endfor %}

    </tbody>
  </table>


  {% block javascript %}
  {% endblock %}

{% endblock %}