{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1><a href="{%  url 'portfolio:portfolio_filter' %}" class="title-link">Matthieu Schopp</a></h1>
<h2><a href="{%  url 'portfolio:portfolio_filter' %}" class="title-link">GIS Engineer</a></h2>


<hr>
<p>Geographical Information System engineer with advanced data-analysis skills, technical high-level proficiency and a strong work ethic.</p>
<hr>

<div class="slider-align">
    <div class="home-slider">
        <div><a href="{%  url 'portfolio:portfolio_filter' %}"><img src="{% static 'images/main_networking.jpg' %}" class="img-home-slider"></a></div>
        <div><a href="{%  url 'portfolio:portfolio_filter' %}"><img src="{% static 'images/main_programming.jpg' %}" class="img-home-slider"></a></div>
        <div><a href="{%  url 'portfolio:portfolio_filter' %}"><img src="{% static 'images/main_infrastructure.jpg' %}" class="img-home-slider"></a></div>
        <div><a href="{%  url 'portfolio:portfolio_filter' %}"><img src="{% static 'images/main_railways.jpg' %}" class="img-home-slider"></a></div>
    </div>
</div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.home-slider').slick({
          slidesToShow: 2,
            autoplay: true,
            speed: 2000,
            centerPadding: '60px',
            autoplaySpeed: 2500,
            variableWidth: true,
            centerMode: true
      });
    });

  </script>
{% endblock %}