<html>
    <head>
        <title>Matthieu Schopp Portfolio</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
	<div>
		<h1><a href="/">Matthieu Schopp Portfolio</a></h1>
	</div>
		{% for portfolio_item in portfolio_items %}
		<div>
			<h3><a href="">{{portfolio_item.title}}</a></h3>
			<p>{{portfolio_item.description | linebreaksbr}}</p>
			<p>Industry : {{portfolio_item.industry_area}}</p>
			<p>Employer : {{portfolio_item.employer}}</p>
			<p>Started Date : {{portfolio_item.started_date}} - Ended Date : {{portfolio_item.ended_date}}</p>
			<p> Categories : 
			{% for categorie in portfolio_item.main_categories.all %}
				{{categorie.name}} |
			{% endfor %}
			</p>
			<p> Software and Tools : 
			{% for software_tool in portfolio_item.software_tools.all %}
				{{software_tool.name}} |
			{% endfor %}
			</p>
			<p> Role : 
			{% for role in portfolio_item.roles.all %}
				{{role.name}} |
			{% endfor %}
			</p>
		</div>
		{% endfor %}


    </body>
</html>